.promo {
  position: relative;
  padding-top: 290px;
  padding-bottom: 164px;

  &::before {
    @include pseudo;

    z-index: 9;
    top: 0;
    left: 0;
    width: 1048px;
    height: 1048px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(180, 197, 194, 0.83) 0%, rgba(224, 225, 225, 0) 100%);
    overflow: hidden;
    transform: translate(-50%, -50%);

    @include viewport--md {
      display: none;
    }
  }

  &::after {
    @include pseudo;

    z-index: 9;
    top: -200px;
    right: 0;
    width: 1582px;
    height: 1582px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 238, 206, 0.49) 0%, rgba(196, 196, 196, 0) 100%);
    overflow: hidden;
    transform: translateX(50%);

    @include viewport--lg {
      top: 100px;
      width: 800px;
      height: 800px;
    }

    @include viewport--md {
      display: none;
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 87vw;
    background-image: url("../img/bg/promo-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;

    @include retina {
      background-image: url("../img/bg/promo-bg@2x.png");
    }

    @include viewport--lg {
      height: 890px;
      background-size: 100% 100%;
    }

    @include viewport--md {
      height: 75vw;
    }

    @include viewport--sm {
      height: 406px;
      background-image: url("../img/bg/promo-bg-mobile.png");

      @include retina {
        background-image: url("../img/bg/promo-bg-mobile@2x.png");
      }
    }
  }

  &__info {
    margin: 0 auto 150px;
    max-width: 700px;

    @include viewport--lg {
      margin-bottom: 60px;
    }

    @include viewport--sm {
      margin: 0;
      margin-bottom: 48px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 19px;

    @include viewport--md {
      justify-content: flex-start;
    }

    @include viewport--sm {
      margin-bottom: 12px;

      img {
        width: 202px;
        height: 44px;
      }
    }
  }

  &__subtitle {
    @include font(50, 60);

    margin: 0;
    margin-bottom: 17px;
    font-family: $font-title-regular;
    font-weight: 400;
    color: $color-juniper;
    text-align: center;
    text-transform: uppercase;

    @include viewport--md {
      text-align: left;
    }

    @include viewport--sm {
      @include font(24, 30);

      margin-bottom: 6px;
    }
  }

  &__small {
    @include font(14, 20);

    display: block;
    margin-bottom: 32px;
    color: $color-juniper;
    text-align: center;

    @include viewport--md {
      text-align: left;
    }

    @include viewport--sm {
      @include font(12, 17);

      margin-bottom: 21px;
      max-width: 270px;
    }
  }

  &__button {
    margin: 0 auto;

    @include viewport--md {
      margin: 0;
    }
  }

  &__img {
    position: absolute;
    z-index: 10;

    &--left {
      left: -243px;
      bottom: 103px;
      width: percentage(686 / 1920);
      padding-bottom: percentage(565 / 1920);

      &::before {
        @include pseudo;

        left: 0;
        bottom: 30px;
        width: 670px;
        height: 155px;
        background: radial-gradient(50% 50% at 50% 50%, #ababab 0%, rgba(237, 237, 237, 0) 100%);
        transform: rotate(-9.43deg);
      }

      @include viewport--lg {
        left: -150px;
        bottom: 300px;
      }

      @include viewport--md {
        display: none;
      }
    }

    &--right {
      right: -184px;
      bottom: 130px;
      width: percentage(511 / 1920);
      padding-bottom: percentage(331 / 1920);

      &::before {
        @include pseudo;

        left: 0;
        bottom: -20px;
        width: 794px;
        height: 155px;
        background: radial-gradient(50% 50% at 50% 50%, #ababab 0%, rgba(237, 237, 237, 0) 100%);
        transform: rotate(0.55deg);
      }

      @include viewport--lg {
        right: -110px;
        bottom: 350px;
      }

      @include viewport--md {
        right: -101px;
        bottom: 333px;
        width: 313px;
        padding-bottom: 203px;
      }

      @include viewport--sm {
        right: -107px;
        bottom: 271px;
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      @include list-reset;

      display: flex;
    }

    @include viewport--sm {
      justify-content: flex-start;
      padding: 0 5px;

      ul {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        max-height: 480px;
      }
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 155px;
    max-width: 191px;

    &:last-child {
      margin-right: 0;

      .promo__list-icon {
        background-color: $color-juniper;
      }
    }

    &:nth-child(2) {
      transform: translateY(-23px);
    }

    &:first-child {
      .promo__list-icon {
        background-color: $color-sandy;
      }
    }

    .promo__list-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      width: 152px;
      height: 152px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: $box-shadow-default;
      background-color: $color-zanah;

      svg {
        fill: none;
      }
    }

    h3 {
      @include font(16, 19);

      margin: 0;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-family: $font-title-bold;
      font-weight: 700;
      color: $color-blue-stone;
      text-align: center;
    }

    p {
      @include font(14, 22);

      margin: 0;
      color: $color-blue-stone;
      text-align: center;
    }

    @include viewport--lg {
      margin-right: 100px;
    }

    @include viewport--md {
      margin-right: 50px;

      &:nth-child(2) {
        transform: none;
      }
    }

    @include viewport--sm {
      align-items: flex-start;
      margin-right: 24px;

      p {
        text-align: left;
      }
    }
  }

  @include viewport--md {
    padding-top: 180px;
    padding-bottom: 60px;
  }

  @include viewport--sm {
    padding-top: 85px;
    padding-bottom: 17px;

    &__list-item {
      margin-bottom: 24px;
      order: 1;
      max-width: 122px;

      svg {
        width: 31px;
        height: 31px;
      }

      &:first-child {
        order: 2;

        svg {
          width: 43px;
          height: 43px;
        }
      }

      &:last-child {
        order: 3;

        svg {
          width: 28px;
          height: 28px;
        }
      }

      h3 {
        @include font(14, 18);

        text-align: left;
      }

      p {
        @include font(10, 16);
      }
    }

    .promo__list-icon {
      margin-bottom: 18px;
      width: 92px;
      height: 92px;
    }
  }
}
