.slider-block {
  position: relative;
  z-index: 10;
  margin-top: -100px;
  padding-bottom: 80px;

  &__wrapper {
    position: relative;
    max-width: 1181px;

    @media (max-width: 1150px) {
      padding: 0 60px;
    }

    @include viewport--sm {
      max-width: none;
      padding: 0;
      padding-left: 20px;
    }
  }

  &__list {
    padding-top: 10px;
  }

  &__card {
    &:nth-child(odd) {
      background-color: $color-sandy;
    }

    &:nth-child(even) {
      background-color: $color-zanah;
    }

    @include viewport--sm {
      &:last-child {
        margin-right: 35px;
      }
    }
  }

  &__button {
    @include button-reset;
    @include transition(opacity);

    position: absolute;
    left: -59px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;

    &:hover {
      opacity: 0.7;
    }

    &::before {
      @include pseudo;

      left: -10px;
      right: -10px;
      bottom: -10px;
      top: -10px;
    }

    &--next {
      left: auto;
      right: -59px;
      transform: translateY(-50%) rotate(180deg);
    }

    &.swiper-button-disabled {
      opacity: 0.5;
    }

    @include viewport--lg {
      left: 0;

      &--next {
        left: auto;
        right: 0;
      }
    }

    @media (max-width: 1150px) {
      left: 30px;

      &--next {
        left: auto;
        right: 30px;
      }
    }

    @include viewport--sm {
      display: none;
    }
  }

  @include viewport--md {
    margin-top: 0;
  }

  @include viewport--sm {
    padding-bottom: 45px;
  }
}
