mixin img({path, image, format, width, height, altText})
  img(src="img/" + path + "/" + image + "." + format, srcset= "img/" + path + "/" + image + "@2x." + format + " 2x", width= width, height= height, alt= altText)

mixin imgSvg({path, image, format, width, height, altText})
  img(src="img/" + path + "/" + image + "." + format, width= width, height= height, alt= altText)

mixin imgAdaptive({path, image, format, altText})
  img(src="img/" + path + "/" + image + "." + format, srcset= "img/" + path + "/" + image + "@2x." + format + " 2x", alt= altText)

mixin imgAdaptiveSvg(img, mobileImg, viewport)

  if mobileImg
    - const {path, image, format, altText} = mobileImg;
    picture
      source(srcset="img/" + path + "/" + image + "." + format, media=`(max-width: ${viewport})`)
      img(src="img/" + path + "/" + image + "." + format, alt= altTextMobile)
  else
    - const {path, image, format, altText} = img;
    img(src="img/" + path + "/" + image + "." + format, alt= altText)
