-
  const promoBg = {
    path: 'svg',
    image: 'promo-bg',
    format: 'svg',
    altText: '',
  };

  const promoBgMobile = {
    path: 'svg',
    image: 'promo-bg-mobile',
    format: 'svg',
    altText: '',
  }

  const siteName = {
    path: 'svg',
    image: 'site-name',
    format: 'svg',
    width: 443,
    height: 95,
  }

  const promoHedgehog1 = {
    path: 'content',
    image: 'content-img-3',
    format: 'png',
    width: 686,
    height: 565,
  };

  const promoHedgehog2 = {
    path: 'content',
    image: 'content-img-4',
    format: 'png',
    width: 511,
    height: 331,
  };

  const promoList = [
    {
      icon: {
        name: 'icon-hedgehog',
        width: 72,
        height: 72,
      },
      title: 'Разведение ёжиков',
      text: 'Собственная ферма, уход и содержание'
    },
    {
      icon: {
        name: 'icon-syringe',
        width: 46,
        height: 46,
      },
      title: 'Здоровье',
      text: 'Всегда прививаем и вовремя обследуем ваших будущих питомцев'
    },
    {
      icon: {
        name: 'icon-heart',
        width: 43,
        height: 43,
      },
      title: 'Любовь и забота',
      text: 'Каждому ёжику мы дарим много внимания'
    },
  ];

  const mainSlider = [
    {
      title: 'ёжик “Евгений”',
      text: 'Очень любит сладости. Маленький сладкоежка=) Мы называем его так между собой. Ручной, любит внимаение',
      hasDiscount: true,
      price: {
        current: 1500,
        old: 3000,
      },
      discount: 50,
      img: {
        path: 'content',
        image: 'content-img-1',
        format: 'png',
        width: 363,
        height: 265,
      },
      tooltip: 'Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.'
    },

    {
      title: 'ёжик “Максим”',
      text: 'Немного игривый и задорный характер этого друга никого не оставит равнодушным!',
      hasDiscount: true,
      price: {
        current: 2500,
        old: 5000,
      },
      discount: 50,
      img: {
        path: 'content',
        image: 'content-img-2',
        format: 'png',
        width: 363,
        height: 265,
      },
      tooltip: 'Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.'
    },

    {
      title: 'ёжик “Евгений”',
      text: 'Очень любит сладости. Маленький сладкоежка=) Мы называем его так между собой. Ручной, любит внимаение',
      hasDiscount: true,
      price: {
        current: 1500,
        old: 3000,
      },
      discount: 50,
      img: {
        path: 'content',
        image: 'content-img-1',
        format: 'png',
        width: 363,
        height: 265,
      },
      tooltip: 'Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.'
    },

    {
      title: 'ёжик “Максим”',
      text: 'Немного игривый и задорный характер этого друга никого не оставит равнодушным!',
      hasDiscount: true,
      price: {
        current: 2500,
        old: 5000,
      },
      discount: 50,
      img: {
        path: 'content',
        image: 'content-img-2',
        format: 'png',
        width: 363,
        height: 265,
      },
      tooltip: 'Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.'
    },

    {
      title: 'ёжик “Евгений”',
      text: 'Очень любит сладости. Маленький сладкоежка=) Мы называем его так между собой. Ручной, любит внимаение',
      hasDiscount: true,
      price: {
        current: 1500,
        old: 3000,
      },
      discount: 50,
      img: {
        path: 'content',
        image: 'content-img-1',
        format: 'png',
        width: 363,
        height: 265,
      },
      tooltip: 'Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.'
    },

    {
      title: 'ёжик “Максим”',
      text: 'Немного игривый и задорный характер этого друга никого не оставит равнодушным!',
      hasDiscount: true,
      price: {
        current: 2500,
        old: 5000,
      },
      discount: 50,
      img: {
        path: 'content',
        image: 'content-img-2',
        format: 'png',
        width: 363,
        height: 265,
      },
      tooltip: 'Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.'
    },
  ]
