-
  const promoBg = {
    path: 'svg',
    image: 'promo-bg',
    format: 'svg',
    altText: '',
  };

  const siteName = {
    path: 'svg',
    image: 'site-name',
    format: 'svg',
    width: 443,
    height: 95,
  }

  const promoHedgehog1 = {
    path: 'content',
    image: 'content-img-3',
    format: 'png',
    width: 686,
    height: 565,
  };

  const promoHedgehog2 = {
    path: 'content',
    image: 'content-img-4',
    format: 'png',
    width: 511,
    height: 331,
  };

  const promoList = [
    {
      icon: {
        name: 'icon-hedgehog',
        width: 72,
        height: 72,
      },
      title: 'Разведение ежиков',
      text: 'Собственная ферма, уход и содержание'
    },
    {
      icon: {
        name: 'icon-syringe',
        width: 46,
        height: 46,
      },
      title: 'Здоровье',
      text: 'Всегда прививаем и вовремя обследуем ваших будущих питомцев'
    },
    {
      icon: {
        name: 'icon-heart',
        width: 43,
        height: 43,
      },
      title: 'Любовь и забота',
      text: 'Каждому ежику мы дарим много внимания'
    },
  ];
