.cart {
  position: absolute;
  top: 90px;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 350px;
  background-color: $color-default-white;
  border-radius: 10px;
  box-shadow: $box-shadow-default;
  opacity: 0;
  z-index: -1;
  transform: translateY(-100px);
  transition: opacity $default-transition-settings,
    transform $default-transition-settings;

  & > .button {
    margin-top: auto;
    min-height: 40px;
    max-width: 150px;
    min-width: 150px;
    align-self: center;
  }

  &.active {
    z-index: 10;
    opacity: 1;
    transform: translateY(0);
  }

  &__inner {
    margin-bottom: 20px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: $font-title-bold;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: $color-blue-stone;
  }

  &__list {
    @include list-reset;
    @include hidden-scrollbar;

    padding: 10px 20px;
    max-height: 320px;
    overflow-y: scroll;
  }

  &__item {
    @include transition(opacity);

    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid $color-juniper;
    border-radius: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      flex-shrink: 0;
      margin-right: 10px;
      max-width: 30%;
    }

    &-title {
      margin: 0;
      max-width: 150px;
      font-family: $font-main-bold;
      font-size: 20px;
      font-weight: 700;
      color: $color-juniper;
      text-align: center;

      @include viewport--sm {
        font-size: 16px;
      }
    }

    &--deleted {
      opacity: 0;
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: 1px solid $color-geyser;
    padding: 0 5px;
    min-width: 30px;

    input {
      max-width: 40px;
      border: none;
      text-align: center;
      outline: none;
    }
  }

  &__close {
    @include button-reset;
    @include transition(opacity);

    position: absolute;
    right: -20px;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-default-white;
    box-shadow: $box-shadow-default;
    outline: none;

    svg {
      margin-top: 3px;
    }

    @include min-desktop {
      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }

    @include viewport--sm {
      right: -10px;
      top: -10px;
      width: 20px;
      height: 20px;

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__delete-btn {
    @include button-reset;
    @include transition(opacity);

    position: absolute;
    right: -11px;
    top: -10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid $color-blue-stone;
    border-radius: 50%;
    background-color: $color-default-white;
    outline: none;

    @include min-desktop {
      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  @include viewport--sm {
    width: 280px;
  }
}
