.cart {
  @include hidden-scrollbar;

  position: absolute;
  top: 90px;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 350px;
  background-color: $color-default-white;
  border-radius: 10px;
  box-shadow: $box-shadow-default;
  opacity: 0;
  z-index: -1;
  transform: translateY(-100px);
  transition: opacity $default-transition-settings,
    transform $default-transition-settings;
  overflow-y: scroll;

  & > .button {
    margin-top: auto;
  }

  &.active {
    z-index: 10;
    opacity: 1;
    transform: translateY(0);
  }

  &__inner {
    margin-bottom: 20px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: $font-title-bold;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: $color-blue-stone;
  }

  &__list {
    @include list-reset;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid $color-juniper;
    border-radius: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      flex-shrink: 0;
      margin-right: 10px;
      max-width: 30%;
    }

    &-title {
      margin: 0;
      max-width: 150px;
      font-family: $font-main-bold;
      font-size: 20px;
      font-weight: 700;
      color: $color-juniper;
      text-align: center;

      @include viewport--sm {
        font-size: 16px;
      }
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: 1px solid $color-geyser;
    min-width: 30px;
  }

  &__delete-btn {
    @include button-reset;
    @include transition(opacity);

    position: absolute;
    right: -11px;
    top: -10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid $color-blue-stone;
    border-radius: 50%;
    background-color: $color-default-white;
    outline: none;

    @include min-desktop {
      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  @include viewport--sm {
    width: 280px;
  }
}
